.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo{
  background-color: #9A616D;
}


h1{
  background-color: rgb(111, 11, 41);
}